<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
	    <div class="panel-heading">       
	      <p class="panel-title"><i class="fa fa-inbox"></i> Inbox</p>
	    </div>
			<%= render current_user.mailbox.inbox %>
		</div>
	</div>
</div>
