<div class="row">
	<div class="col-md-12">
		<p class="btn-group margin-bottom-2em">
			<% link_to(conversations_path, {class: "btn btn-default btn-large", style: "vertical-align: middle;"}) do %> 
				<i class="fa fa-inbox"></i> View full mailbox
			<% end %>
			<%= link_to(new_message_path,{class: "btn btn-default btn-large", style: "vertical-align: middle;"}) do %>
				<i class="fa fa-envelope-o"></i> New message
			<% end %>
			</p>
	
	</div>
</div>