<div class="panel panel-default">
  <div class="panel-heading">       
    <p class="panel-title"><i class="fa fa-exchange"></i> Pending trades <small class="muted">waiting on action from you</small></p>
  </div>
	
	<%= render "trades/trades_list", trades: @pending_trades %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">       
    <p class="panel-title"><i class="fa fa-exchange"></i> Initiated trades <small class="muted">waiting on action from someone else</small></p>
  </div>
	
	<%= render "trades/trades_list", trades: @initiated_trades %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">       
    <p class="panel-title"><i class="fa fa-exchange"></i> Completed trades <small class="muted">waiting on action from someone else</small></p>
  </div>
	
	<%= render "trades/trades_list", trades: @accepted_trades %>
</div>