<p class="h4">Reply:</p>
 <%= form_for :message, url: [:reply, conversation], html: { class: "form-horizontal" } do |f| %>
	 <%= f.text_area :body, :style => 'width: 500px', :class => 'form-control margin-bottom-1em' %>
	 <%= f.submit "Send Message", class: 'btn btn-success' %>
	 <%= submit_tag 'Clear Reply Box', type: :reset, class: 'btn btn-danger' %>
 <% end %>