<div class="row">
	<div class="col-md-12 margin-top-1em">
		<h3>
		<span class="label label-danger"><span style="font-weight: normal;">Admin actions:</span></span>
		<%= render '/layouts/admin_control_panel/new_feature_button' %>
		<%= render '/layouts/admin_control_panel/new_player_button' %>
		<%= render '/layouts/admin_control_panel/new_payout_button' %>
		<%= render '/layouts/admin_control_panel/new_user_button' %>
		<!-- <% render '/layouts/admin_control_panel/new_team_button' %> -->
		</h3>
		<hr />
	</div>
</div>