<p>
	<small class="bought-out">Bought out contract (60% of original contracted salary)</small><br />
	<small>
		<i class="fa fa-tag"></i> Franchised player<br />
		<i class="fa fa-plus-circle"></i> Extended contract
	</small>
</p>