<p>
	<small class="bought-out">Bought out contract (60% of original contracted salary)</small><br />
	<small class="extended"><i class="fa fa-plus-circle"></i> Extended contract</small><br />
	<small class="franchised"><i class="fa fa-tag"></i> Franchised player</small>	
</p>