<div class="panel-heading">
	<p class="panel-title"><i class="fa fa-key"></i> Contracts key</p>
</div>
<div class="panel-body">
	<p>
    <small>
      <i class="fa fa-plus-circle"></i> <span class="extended">Extended</span><br />
    	<i class="fa fa-tag"></i> <span class="franchised">Franchised</span><br />
    	<% if controller.class == ContractsController %>
        <i class="fa fa-plus-circle"></i> <i class="fa fa-tag"></i> <span class="extended_and_franchised">Extended and franchised</span><br />
      <% end %>
    	<i class="fa fa-usd"></i> <span class="bought-out">Bought out (60% of original salary)</span><br />
      <i class="fa fa-lemon-o"></i> <span class="dead-money">Dead money</span>
    </small>
  </p>
  </div>