<div class="">
	<ul class="list-inline margin-bottom-1em">
		<li></li>
		<li><span class="badge"><i class="fa fa-key"></i></span></li>
		<li><small><i class="fa fa-plus-circle"></i> <span class="extended">Extended</span></small></li>
		<li><small><i class="fa fa-tag"></i> <span class="franchised">Franchised</span></small></li>
		<% if controller.class == ContractsController %>
			<li><small><i class="fa fa-plus-circle"></i> <i class="fa fa-tag"></i> <span class="extended_and_franchised">Extended &amp; franchised</span></small></li>
		<% end %>
		<li><small><i class="fa fa-usd"></i> <span class="bought-out">Bought out (60% of orig. $)</span></small></li>
		<li><small><i class="fa fa-lemon-o"></i> <span class="dead-money">Dead money</span></small></li>
	</ul>
</div>