<p><small><strong>Key</strong><br />
<i class="fa fa-plus-circle"></i> <span class="extended">Extended contract</span><br />
<i class="fa fa-tag"></i> <span class="franchised">Franchised player</span><br />
<i class="fa fa-usd"></i> <span class="bought-out">Bought out contract (60% of original contracted salary)</span></small></p>