<% content_for :title, "Editing #{@contract.player.full_name}'s contract" %>
<% content_for :section_subtitle, "Contract started in #{@contract.contract_start_year} for #{@contract.contract_length} years" %>

<div class="row">
	<div class="col-md-10">
		<%= render "form" %>
	</div>
</div>