<h1>Listing contracts</h1>

<% @contracts.each do |contract| %>
	<p><%=link_to contract.player.full_name, contract %> contracted for <%= contract.contract_length %> years | <%= link_to "Delete", contract, :confirm => 'Are you sure?', :method => :delete, :class => 'label label-danger' %></p>
<% end %>