body{
  background-image: none;
  overflow-x: hidden;
}

.sticky-header{
  background-image: url('/images/bg_dopr_top_alt.png');
  background-position: left top;
  background-repeat: repeat-x;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.scroller-inner{
 
}

.container-fluid{
  min-height: 100%;
}

.container-fluid-padding-top{
  padding-top: 100px;
}

.mp-menu ul li a, .mp-menu ul li a:visited{
  color: #fff;
}

.mp-menu ul li > a:hover{
  color: #f7f7f7;
  text-decoration: none;
}

.mp-menu ul li > a.mp-menu-small-link{
  font-size: 1em;
}

.mp-menu ul li > a .muted{
  color: #555;
}

.gm-quick-glance{
  color: #fff;
  padding: 20px 36px;
}

#global_search_box{
  z-index: 0;
}

.margin-top-none{
  margin-top: 0;
}

.gm-actions-super-bowl-picks{
  background-color: #b400ff;
}

@media all and (max-width: 1199px){
  body{
    background-image: url('/images/bg_dopr_top_1199_alt.png');
  }
}

@media all and (max-width: 991px){
  body{
    background-image: url('/images/bg_dopr_top_991_alt.png');
  }
  
  .container-fluid-padding-top{
    padding-top: 80px;
  }
}

@media all and (max-width: 767px){
  body{
    background-image: url('/images/bg_dopr_top_767_alt.png');
  }

  .container-fluid-padding-top{
    padding-top: 60px;
  }
}

@media all and (max-width: 559px){
  body{
    background-image: url('/images/bg_dopr_top_559_alt.png');
  }
  .container-fluid-padding-top{
    padding-top: 40px;
  }
}

@media all and (max-width: 400px){
  body{
    background-image: url('/images/bg_dopr_top_400_alt.png');
  }

  .container-fluid-padding-top{
    padding-top: 20px;
  }
}