<% content_for :title, "#{@team.team_name}'s #{@budget.year} budget" %>
<% content_for :section_subtitle, "" %>

<p class="h1">
  $<%= @budget.amount %>
</p>


<%= link_to 'Edit', edit_team_budget_path(@team, @budget) %> |
<%= link_to 'Back', team_budgets_path %>