<tr>
	<td></td>
	<td><%= image_tag user.avatar(:tiny) %> <% if user.team %>
				<%= link_to user.team.team_name, user.team %> <span class="muted">[<%= user.display_name %>]</span>
			<% else %>
				No team.
			<% end %>
	</td>
</tr>