<div class="row">

<fieldset class="margin-bottom-1em">	
	<label class="col-lg-3 control-label">Team Name</label>
	<div class="col-lg-9">
		<%= f.text_field :team_name, :class => "form-control", :style => "width: 300px;" %>
	</div>
</fieldset>
</div>