<% content_for :title, "Edit account"%>

<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>Edit an account</h1>
		<hr />
	</div>
</div>
                 
  <div class="row">
	<div class="col-lg-offset-2 col-md-6">
		<%= render "form" %>
	</div>
  </div>