<% content_for :title, "New Super Bowl" %>
<% content_for :section_subtitle, "Add AFC and NFC teams and update with the final score. The site will do the rest." %>

<div class="row">
	<div class="col-md-10">
		<%= render "form" %>
	</div>
</div>
