<% content_for :title, "Editing #{@standing.year} standings" %>
<% content_for :section_subtitle, "All stats from Yahoo for the regular season" %>

<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>