<% content_for :title, "Events: #{@event.title}" %>
<% content_for :section_subtitle, "Happening on #{@event.event_date }" %>

<%= RedCloth.new(@event.description).to_html.html_safe %>

<p class="muted">
  <small>This <strong><%= @event.event_type %></strong> event was originally created by <%= link_to @event.team.user.display_name, @event.team %>.</small>
</p>
<% if current_user %>
  <% if can? :manage, @event %>
    <p><i class="fa fa-pencil-square-o"></i> <%= link_to 'Edit this event', edit_event_path(@event) %></p>
  <% end %>
<% end %>