<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <li>
                <a href="#">NFL Info</a>
                <ul class="cbp-hssubmenu">
                    
                    <li><a href="/players"><i class="fa fa-bullhorn"></i>NFL players</a></li>
                    <li><a href="/contracts"><i class="fa fa-file-text-o"></i>Contracts</a></li>
                    <li><a href="/salary_progressions"><i class="fa fa-money"></i>Salary progressions</a></li>
                    <li><a href="/nfl_teams"><i class="fa fa-shield"></i>NFL teams</a></li>
                </ul>
            </li>
            <li>
                <a href="#">League Info</a>
                <ul class="cbp-hssubmenu">

                    <li><a href="/constitution"><i class="fa fa-gavel"></i>Constitution</a></li>
                    <li><a href="/polls"><i class="fa fa-tasks"></i>Facebook polls</a></li>
                    <li><a href="/trades"><i class="fa fa-exchange"></i>Trades</a></li>
                    <li><a href="/super_bowls"><i class="fa fa-ticket"></i>Super Bowl Picks</a></li>
                    <li><a href="/faqs"><i class="fa fa-question-circle"></i>FAQs</a></li>
                    <li><a href="/payouts"><i class="fa fa-trophy"></i>League payouts &amp; awards</a></li>
                    <li><a href="/standings"><i class="fa fa-sort-numeric-asc"></i>All-time standings</a></li>
                    <li><a href="/events"><i class="fa fa-calendar"></i>Events</a></li>
                    
                </ul>
            </li>
            <li>
                <a href="#">Delicious Beverages</a>
                <ul class="cbp-hssubmenu cbp-hssub-rows">
                    <li><a href="#"><img src="images/7.png" alt="img07"/><span>Lovely Slurp</span></a></li>
                    <li><a href="#"><img src="images/8.png" alt="img08"/><span>Lemony Grappa</span></a></li>
                    <li><a href="#"><img src="images/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
                    <li><a href="#"><img src="images/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
                    <li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
                    <li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
                    <li><a href="#"><img src="images/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
                    <li><a href="#"><img src="images/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
                    <li><a href="#"><img src="images/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
                    <li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
                    <li><a href="#"><img src="images/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
                    <li><a href="#"><img src="images/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
                </ul>
            </li>
            <li>
                <a href="#">Fine Liquors</a>
                <ul class="cbp-hssubmenu">
                    <li><a href="#"><img src="images/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
                    <li><a href="#"><img src="images/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
                    <li><a href="#"><img src="images/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
                </ul>
            </li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>