<a href="players/new" class="btn btn-primary btn-large margin-right-1em" style="vertical-align: middle;"><span class="glyphicon glyphicon-heart" style="vertical-align: top;"></span> Add NFL player</a>