<%= form_tag free_agents_players_path, class: "form-inline margin-bottom-2em", method: :get do %>
	<div class="form-group"> 
	    <%= text_field_tag :query, params[:query], class: "form-control", style: "width: 340px;", placeholder: "Search by name, position or auction value (no $)" %>
	</div>
	<%= submit_tag "Search", name: nil, :class => "btn btn-success btn-large" %>
<% end %>