<%= form_tag free_agents_players_path, :class => "form-inline", method: :get do %>
	<div class="form-group"> 
	    <%= text_field_tag :query, params[:query], :class => "form-control", :style => "width: 250px;" %>
	</div>
	<%= submit_tag "Search", name: nil, :class => "btn btn-warning btn-large" %>
<% end %>