<% content_for :title, "Editing #{@player.full_name}" %>
<% content_for :section_subtitle, "Be careful with contracts. Don't add a new contract until the existing one has expired" %>
                 
<div class="row">
	<div class="col-md-10">
		<%= render "form" %>
	</div>
</div>