<% content_for :title, "NFL Players: Free Agents"%>
<% content_for :section_subtitle, "Only free agent NFL players" %>

<div class="row">
	<div class="col-md-12"><br />
		<div class="row">
			<div class="col-md-5">

			
				<%= render 'search_free_agents' %>
				
			</div>
		</div><!-- end of row -->

		<%= smart_listing_render :players %>
