<% content_for :title, "Free Agent NFL Players"%>
<% content_for :section_subtitle, "Only free agent NFL players" %>

<div class="row">
	<div class="col-md-12"><br />
		<div class="row">
			<div class="col-md-4">

				<div class="panel panel-warning">
					<div class="panel-heading">
		          		<p class="panel-title bold">Search players</p>
						<!--<small class="muted">Some kind of additional text here</small>-->
		        	</div>
						<div class="panel-body">
								<%= render 'search_free_agents' %>
						</div>
				</div>
			</div>

			<%= render 'players_info_fields', players: @players %>
