<% content_for :title, "NFL Players"%>
<% content_for :section_subtitle, "The full list of available players and all pertinent information." %>

<div class="row">
	<div class="col-md-12"><br />
		<div class="row">
			<div class="col-md-5">

				
				<%= render 'search_players' %>
						
			</div>
		</div><!-- end of row -->
		<%= render 'players_info_fields', players: @players %>
			