<% content_for :title, "New NFL Player" %>
<% content_for :section_subtitle, "Almost certainly not the best way to go about this" %>

<div class="row">
	<div class="col-md-10">
		<%= render "form" %>
	</div>
</div>