<p>
	<%= link_to super_bowl_pick.team.team_name, super_bowl_pick.team %> chose <%= link_to super_bowl_pick.nfl_team.full_team_name, super_bowl_pick.nfl_team %> 
	<% if @super_bowl.tie_breaker? %>
		<% if super_bowl_pick.nfl_team_id == @super_bowl.nfl_team1_id || super_bowl_pick.nfl_team_id == @super_bowl.nfl_team2_id %>
			<% if super_bowl_pick.team_id == current_user.team.id %>
				<% if super_bowl_pick.combined_total %>
					| Combined total: <%= super_bowl_pick.combined_total %>
				<% else %>
					[<%= link_to "Enter tie-breaker amount", edit_super_bowl_pick_path(super_bowl_pick) %>]
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</p>