@charset "utf-8";
/* CSS Document */
body{

	/*background-image: url(/assets/bg_body.jpg);*/
	background-position: top;
	background-repeat: no-repeat;
}

.green{
	color: #fce680;
	
}

.uppercase{
	text-transform: uppercase;	
}

.headline{
	color: #333;
	font-size: 31.5px;
	font-weight: bold;
	line-height: 40px;
}

#wrap {
	
	background-repeat: no-repeat;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
}

.mountains{

	margin: 0 auto;
	text-align: center;
	padding-top: 300px;
	width: 100%;
}

.navigation{
	
	font-family: 'Helvetica Neue';
	
}


.jumbotron {
	background-color: #54607f;
	color: #fff;
	margin: 0 0 50px 0;
	padding: 1em;
	
}
.jumbotron h1 {
	font-size: 54px;
	line-height: 1;
}

.jumbotron .lead{
	font-size: 18px;
}

.padding-horizontal-10{
	padding: 0 10px;
}

.masthead{
	margin: 0 auto;
	text-align: right;
	width: 960px;
}

.navigation{
	margin: 0 18px -25px 0;
	text-align: left;
}

.navigation ul{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.navigation ul li{
	display: inline;
	font-size: 30pt;
	line-height: 48pt;
	margin-left: 20px;
}

.navigation ul li a, .masthead ul li a:visited{
	color: #333;	
	font-weight: 100;
}

.navigation ul li a:hover{

	text-decoration: underline;	
}

#skyline{
	background-image: url('/assets/skyline.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 250px;
	margin-bottom: -5px;
}

.page-title-black-bar{
	background-color: #fff;
	color: #fff;
	font-size: 36pt;
	height: 92px;
	line-height: 68pt;
	text-transform: lowercase ;	
}

.main-body-text{
	margin-top: 60px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.highlighted-job, .highlighted-project{
	background-color: #FF0051;
	color: #fff;
	padding: 1em;	
}

.highlighted-project{
	background-color: #0051FF;	
}

.rounded-corners-16{
	/*-moz-border-radius: 16px;
	border-radius: 16px;*/
}

p.sub-lead{
	color: #999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

#push, #footer {
	height: 120px;
}
#footer {
	/*background-color: #21201e;*/
	height: 200px;
	

}

#footer .container{

	height: 200px;

}

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
	  .container .credit {
        margin: 20px 0;
      }

	#footer .muted{
		font-size: 8pt;
	}

.row{
	margin-bottom: 30px;
}

.white{
	background-color: #fff;	
}

.align-right{
	text-align: right;
}

.margin-bottom-half-em{
	margin-bottom: .5em;	
}

.margin-bottom-1em{
	margin-bottom: 1em;	
}

.margin-top-1em{
	margin-top: 1em;	
}
.admin-hidden{
	background-color: rgb(245, 245, 245);
	margin: .5em 0;
	padding: .8em .5em;
}

.hidden{
	visibility: visible;
}

.category-group{
	margin-bottom: 1em;
}
.small-text{
	font-size: 0.8em;
	line-height: 1em;
}

.alert{
	margin-top: 20px;
}

#main-content{
	background-color: #fff;
	padding: 20px 0 0 0;
}

.padding-horizontal-20{
	padding: 0 20px 0 20px;
}

.img-rounded{
	margin-bottom: 10px;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Myriad Pro", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#feature_category_one_class, #feature_category_two_class, #feature_category_three_class, #feature_feature_type{
	width: 100px;
}

.span5 .control-label{
	width: 60px;
}

.span5 .control-group .controls{
	margin-left: 70px;
}

.row-text-large, .header-row-text{
	font-size: 1.2em;
}
.header-row-text{
	font-size: 1.6em;
	font-weight: bold;
}


