blockquote{ 
	p{ font-size: .8em; }
}

.ajax-form{
	clear: both;
	display: block;
	margin: 1em 0;
}


ul.ul-events{
	list-style: none;

}

ul.ul-events li{
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
	line-height: 1.5em;
	margin-bottom: 1em

}

.jumbotron{
	margin-top: -40px;
}

.panel-body ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.headline{
	font-size: 2em;
	font-weight: normal;
}

.uppercase{
	text-transform: uppercase;
}

.margin-top-0{ 
	margin-top: 0;
}

.margin-top-1em{
	margin-top: 1em;
}

.margin-top-2em{
	margin-top: 2em;
}

.margin-top-3em{
	margin-top: 3em;
}

.margin-top-4em{
	margin-top: 4em;
}

.margin-top-5em{
	margin-top: 5em;
}

.margin-top-6em{
	margin-top: 6em;
}

.margin-top-7em{
	margin-top: 7em;
}

.margin-bottom-0{
	margin-bottom: 0 !important;
}

.margin-bottom-half{
	margin-bottom: .5em !important;
}

.margin-bottom-1em{
	margin-bottom: 1em !important;
}

.margin-bottom-2em{
	margin-bottom: 2em !important;
}

.margin-bottom-4em{
	margin-bottom: 4em !important;
}

.margin-left-1em{
	margin-left: 1em !important;
}

.margin-left-2em{
	margin-left: 2em !important;
}

.margin-left-3em{
	margin-left: 3em !important;
}

.margin-right-1em{
	margin-right: 1em !important;
}

.bold{
	font-weight: 500;
}

.text-large-1-6em{
	font-size: 1.6em;
}

ul.list-no-display{
	list-style-type: none;
}

#push{
	margin-bottom: 4em;
}

#footer .container p.muted{
	color: #999;
}

#footer .container p.credit{
	font-size: 0.8em;
}

.control-group{
	margin: 1em 0;
}

.admin-hidden{
	font-size: 1.2em;
	margin: .5em 0;
	padding: .8em .5em;
}

.hidden-content{
	visibility: visible;
	display: none;
}

.muted{
	color: #999;
}

.lowercase{
	text-transform: lowercase;
}

.homepage-headline{
	margin-bottom: 0;
}


fieldset.contract-fields{
	
}

.search-filters{
	margin: 1.5em 0 2em 1.5em;
}

.form-group small{
	font-weight: normal;
}


.bought-out{
	background-color: #ff9f9f !important;
	/*color: #5800a3;*/
}

.extended{
	background-color: #d6ffd4 !important;
	/*color: #056e00;*/
}

.franchised{
	background-color: #fff1a6 !important;
	/*color: #a76a00;*/
}

.extended_and_franchised{
	background-color: #e1bcff !important;
	/*color: #1383c3;*/
}


.white{
	color: #fff;
}

.table{
	margin-bottom: 0 !important;
}

.highlighter{
	background-color: #fffc00;
	display: inline-block !important;
}

.roster-breakdown-by-player-row{
	padding-left: 10px;
	padding-right: 10px; 
	border-right: 1px solid #ccc;
}

.vert-align-mid{
	vertical-align: text-bottom;
}

.put-inline{
	margin-bottom: -1.5em;
}

#draft-roster-players .handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}
div.conversation{
	background-color: #FAFAFA;
	border-bottom: 1px dashed #cecece;
	margin-bottom: 5px;
	padding: 3px;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 325px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


 th[data-sort]{
      cursor:pointer;
    }

 @media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.stipulation{
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f7f7f7;
	padding: 1em;
	margin-bottom: 1em;
}

.player-trade-fields{
	visibility: visible;
	display: none;
}

label{
	font-weight: normal;
}

#error_explanation{
	border: 1px solid #c00;
	border-radius: 4px;
	background-color: #FAE6E6;
	margin-bottom: 2em;
	padding: 0 1em;
}

#error_explanation h2{
	color: #c00;
	font-size: 24px;
	font-weight: normal;
}

.stipulations-list{
	margin-left: 2em;
}

.modified-budget{
	background-color: #FFCCFF !important;
}

section {
	padding-top: 40px;
	margin-top: -40px;
}

.indent-left-1em{
	padding-left: 1.33333333em;
}

#richard_sherman{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.subcontract-fields{

  label{
    font-size: 14px;
  }
}

.longterm_length{
  display: none;
}

#user_quick_look{
  
  #user_quick_look_trigger{

  }

  #user_quick_look_content{
    display: none;
  }
}