<% content_for :title, "New salary progression"%>
<% content_for :section_subtitle, "This isn't the place to add a progression. Use a .csv file instead"%>

<div class="row">
	<div class="col-xs-12">
		<%= render 'form' %>
	</div>
</div>