<% content_for :title, "New salary progression"%>
<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>New salary progression</h1>
		<hr />
		<div class="row">
			<div class="col-xs-12">
			<%= render 'form' %>
		</div>
</div>