<% content_for :title, "Activities" %>
<% content_for :section_subtitle, "Information as close to Facebook as this site is going to get. ...for now" %>

<% @activities.each do |activity| %>
  <div class="activity">
    <% image_tag activity.owner.avatar.url(:tiny) %> <% link_to activity.owner.display_name, activity.owner if activity.owner %>
    <% render_activity activity %>

    <%= activity.inspect %>
  </div>
<% end %>