<% @activities.each do |activity| %>
  <div class="activity">
  	<div class="row">
  		<div class="col-md-1">
  			 <span style="font-size: 18px; font-weight: normal;">
  			 	<% if activity.key.split(".")[1] == "create" %>
  			 		<span class="label label-success" style="display: inline-block;"><i class="fa fa-plus-circle"></i> </span>
  			 	<% elsif activity.key.split(".")[1] == "update" %>
  			 		<span class="label label-warning" style="display: inline-block;"><i class="fa fa-history"></i> </span>
  			 	<% elsif activity.key.split(".")[1] == "destroy" %>
  			 		<span class="label label-danger" style="display: inline-block;"><i class="fa fa-trash-o"></i> </span>
  			 	<% elsif activity.key.split(".")[1] == "import" %>
  			 		<span class="label label-primary" style="display: inline-block;"><i class="fa fa-cloud-upload"></i> </span>
  			 	<% else %>
  			 		<i class="fa fa-bar-chart-o"></i>
  			 	<% end %>
  			 </span>
  		</div>
    	<div class="col-md-11">
    		<%= image_tag activity.owner.avatar.url(:tiny) if activity.owner %> <%= link_to activity.owner.display_name, activity.owner.team if activity.owner %> <%= render_activity activity %>
    	</div>
    </div>
  </div>
<% end %>
<div id="paginator_activity">
  <%= paginate @activities, remote: true, param_name: "activities" %>
</div>