<div class="row margin-bottom-1em">
  <div class="col-md-6"></div>
  <div class="col-md-1 text-center"><strong>Live?</strong></div>
  <div class="col-md-1 text-center"><strong>Order</strong></div>
  <div class="col-md-1 text-center">&nbsp;</div>
  <div class="col-md-1 text-center">&nbsp;</div>
</div>