<div class="row">
	<div class="col-md-12 margin-top-2em">
		<%= render '/features/new_feature_button' %>
		<%= render '/players/new_player_button' %>
		<%= render '/payouts/new_payout_button' %>
		<%= render '/users/new_user_button' %>
		<!-- <% render '/teams/new_team_button' %> -->
		<hr />
	</div>
</div>