<div class="row">
	<div class="col-md-2">
		<strong>Name</strong>
	</div>
	<div class="col-md-3">		
		<strong>Email</strong>
	</div>
	<div class="col-md-2">		
		<strong>Team name</strong>
	</div>
	<div class="col-md-2">		
		<strong>Division</strong>
	</div>
	<div class="col-md-1">
		<strong>Admin?</strong>
	</div>
	
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-1">&nbsp;</div>
</div>