<%= labeled_form_for @feature, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>
  <div class="col-md-7">
  	<%= render 'form_main_fields', :f => f %>	 
  </div>

  <div class="col-md-5">
  	<%= render 'form_side_fields', :f => f %>
  </div>

<% end %>	