<% content_for :title, "Latest updates" %>
<% content_for :section_subtitle, "League/site announcements and other extremely important information." %>

<div class="row">
	<div class="col-md-8"><br />

		<ul class="nav nav-tabs">
		  <li class="active"><a href="#announcements" data-toggle="tab"><i class="fa fa-exclamation-circle"></i> Announcements</a></li>
		  <li><a href="#activity" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Site activity</a></li>
		  
		</ul>

		<div class="tab-content">
  		<div class="tab-pane fade in active" id="announcements">
				<%= render 'announcements' %>
			</div>

			<div class="tab-pane fade" id="activity">
				<br />
				<%= render 'activity' %>
			</div>
  	</div>	
	</div><!-- end of col-md-8 -->
	
	<div class="col-md-4 hidden-xs"><br />
		<div class="panel panel-info">
			<div class="panel-heading">
      	<p class="panel-title"><a href="/members/"><i class="fa fa-list-alt"></i> The league</a></p>
    	</div>
        	
			<table class="table table-striped" cellpadding="0" cellspacing="0" border="0">
				<tr>
					
					<td colspan="4"><strong>&nbsp;&nbsp;Philip Division</strong></td>
				</tr>
				<% current_philip_members.each do |user|%>
					<%= render '/users/member_list_nav', user: user %>
				<% end %>
				<tr>
					
					<td colspan="4"><strong>&nbsp;&nbsp;Russell Division</strong></td>
				</tr>

				<% current_russell_members.each do |user|%>
					<%= render '/users/member_list_nav', user: user %>
				<% end %>
			</table>
			
			
		</div><!-- end of panel -->
	</div><!-- end of col-md-4-->
</div><!-- end of row -->