<% content_for :title, "Editing #{@payout.year} payouts and awards" %>
<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>New payout and awards</h1>
		<hr />
	</div>
</div>		

<div class="row">
	<div class="col-md-12">
			<%= render 'form' %>
		</div>
</div>