<% content_for :title, "Editing #{@payout.year} payouts and awards" %>
<% content_for :section_subtitle, "Assign awards, note weekly high score values and more" %>

<div class="row">
	<div class="col-md-12">
			<%= render 'form' %>
		</div>
</div>