<% content_for :title, "New payout and awards"%>
<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>New payout and awards</h1>
		<p class="lead">This form auto-creates fields for all league awards.</p>
		<p>Winners do not need to be set now. This just creates the table and information in the database immediately rather than doing it all one-by-one. Set the year, change any award names as necessary and create the payout (down below all the fields). Edit as necessary throughout the season.</p>
		<hr />
	</div>
</div>		

<div class="row">
	<div class="col-md-12">
			<%= render 'form' %>
		</div>
</div>