<% content_for :title, "New payout and awards"%>
<% content_for :section_subtitle, "This form auto-creates fields for all league awards" %>

<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>