<% content_for :title, "All trades" %>
<% content_for :section_subtitle, "Includes trades that were not accepted" %>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
              
        <p class="panel-title">
          <i class="fa fa-exchange"></i> Trades
        </p>
      </div>

      <%= render "trades_list", trades: @trades %>
    </div>
  </div><!-- end of col-md-8 -->
  <div class="col-md-3">
    <% if current_user %>
      <%= link_to new_trade_path, class: "btn btn-success" do %>
        <i class="fa fa-exchange"></i> Start a new trade
      <% end %>
    <% end %>
  </div>
</div>